@font-face {
  font-family: Terminus;
  src: url("https://baabaablackgoat.com/projects/solstice/res/Terminus.ttf");
}
html,body{
  cursor: url(img/cursor1.png), pointer;
  font-family: "Terminus";
  
  @font-face {
  font-family: 'Nintendoid1';
  font-style: normal;
  font-weight: 400;
  src:  url(vcr.ttf) format('woff2');
}
html { background: #111;
       padding: 1em;
       font-family: Nintendoid1;
       color: #eee;
       font-size: 1em;
       line-height: 1;
       text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
       letter-spacing: 0.125em;
       animation-duration: 0.01s;
       animation-name: textflicker;
       animation-iteration-count: infinite;
       animation-direction: alternate;
}
  
  background-image: url("https://i.imgur.com/tNRFhgZ.png");
  animation: 60s scroll linear infinite;
 
  color: #eee;
  text-align: center;
  height: 100%;
}
@keyframes scroll{
  100%{
background-position:0px 640px;
  }
}
p {
  margin: 3px;
}
a,visited{
  text-decoration: none;
  color: #61b;
}
#button{
  color: #61b;
  margin-bottom: 7px;
  cursor: pointer;
  display: inline-block;
  width: auto;
}
#height-maintain{
  height: 125px;
}
#wrapper{
  display: inline-flex;
}
#wrapper div{
  position: relative;
}
#wrapper div img{
  position: absolute;
  left: 50%;
  transform:translateX(-50%);
}
.timepiece {
  width: 36px;
}
.dots{
  width: 10px;
  padding:0 4px;
}
#door{
  margin: 0 0 -35px 0;
}
#explanation {
  display: none;
}
input {
  background-color: rgba(55,55,55,.6);
  color: white;
  font-family: "Terminus";
  border: 0;
}
button {
  color: white;
  font-family: "Terminus";
  border: 1px solid white;
  background-color: rgba(55,55,55,.6);
}
