html,body{
  cursor: url(https://eternabyte.neocities.org/img/cursor1.png), pointer;
  background-image: url("https://eternabyte.neocities.org/img/refuge.png");
}
.bg {
  cursor: url(https://sysloader.ml/img/cursor1.png), pointer;
  background-image: url("https://eternabyte.neocities.org/img/vipelevator.png");
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 99;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}